<span ng-if="journalist.Reliability == 5">
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
</span>
<span ng-if="journalist.Reliability == 4.5">
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-half-filled"></i>
</span>
<span ng-if="journalist.Reliability == 4">
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star"></i>
</span>
<span ng-if="journalist.Reliability == 3.5">
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-half-filled"></i>
    <i class="ti ti-star"></i>
</span>
<span ng-if="journalist.Reliability == 3">
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
</span>
<span ng-if="journalist.Reliability == 2.5">
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-half-filled"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
</span>
<span ng-if="journalist.Reliability == 2">
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
</span>
<span ng-if="journalist.Reliability == 1.5">
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star-half-filled"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
</span>
<span ng-if="journalist.Reliability == 1">
    <i class="ti ti-star-filled"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
</span>
<span ng-if="journalist.Reliability == 0.5">
    <i class="ti ti-star-half-filled"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
</span>
<span ng-if="journalist.Reliability == 0">
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
    <i class="ti ti-star"></i>
</span>